/*----------------------------------------
  Buttons
------------------------------------------*/
.btn-rounded {
	border-radius: 36px;
}
.btn,
.btn-large,
.btn-small,
.btn-floating {
	background-color: var(--primary-color);
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover,
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
	background-color: var(--primary-color);
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.btn-large {
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	padding: 0 24px;
	border-radius: 38px;
	margin-bottom: 10px;
	margin: 0 5px 10px 5px;
}
.btn-large i {
	font-size: 1.2rem;
}
.btn-large i.left {
	margin-right: 7px;
	margin-left: 0px;
}
.btn {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding: 0px 18px;
	border-radius: 32px;
}
.btn i {
	font-size: 1.2rem;
}
.btn i.left {
	margin-right: 10px;
}
.btn i.right {
	margin-left: 10px;
}
.btn-large i.right {
	margin-right: 0px;
	margin-left: 7px;
}
.btn-small {
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	padding: 0px 15px;
	border-radius: 24px;
}
.btn-small i {
	font-size: .7rem;
}
.btn-small i.left {
	margin-right: 7px;
	margin-left: 0px;
}
.btn-small i.right {
	margin-right: 0px;
	margin-left: 7px;
}
.btn-floating i {
	width: auto;
}
.btn-floating.btn-small {
	padding: 0px;
}
.btn-floating.btn-small i {
	font-size: 18px;
}
.btn-floating.btn-large i {
	font-size: 26px;
}
.btn-floating.pulse {
	text-align: center;
}
.btn-floating {
	height: 40px;
	padding: 0px;
	text-align: center;
	width: 40px;
}
.btn-flat.disabled {
	margin: 10px 10px 0 0;
}
.btn-small.disabled,
.btn-large.disabled,
.btn.disabled,
.btn-floating.disabled {
	background-color: #dddddd !important;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 3px 1px -2px rgba(0, 0, 0, 0.06), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
}
.btn-small.disabled i,
.btn-large.disabled i,
.btn.disabled i,
.btn-floating.disabled i {
	color: #aaaaaa !important;
}
.btn,
.btn-large,
.btn-small,
.btn-flat {
	text-transform: capitalize;
}



.addbutton {
  display: inline-block;
  position: fixed;
  right: 20px;
  bottom: 115px;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
  z-index: 998;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.addbutton .btn-floating {
  width: 50px;
  height: 50px;
  padding: 0px;
  text-align: center;
}
.addbutton .btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  line-height: 50px;
  width: auto;
}
[data-footer_menu='hide'] .addbutton {
  bottom: 70px;
  right: 20px;
}


/*----------------------------------------
  Site - Dark Mode - UI
----------------------------------------*/
[data-site_mode="dark"] .btn-small.disabled,
[data-site_mode="dark"] .btn-large.disabled,
[data-site_mode="dark"] .btn.disabled,
[data-site_mode="dark"] .btn-floating.disabled,
[data-site_mode="dark"] .btn-small.disabled i,
[data-site_mode="dark"] .btn-large.disabled i,
[data-site_mode="dark"] .btn.disabled i,
[data-site_mode="dark"] .btn-floating.disabled i {
	background-color: #455a64 !important;
	color: #90a4ae !important;
}
[data-site_mode="dark"] .btn-flat {
	color: #cfd8dc;
}
[data-site_mode="dark"] .ui-colors .col {
	border-bottom: 1px solid #455a64;
}
[data-site_mode="dark"] .ui-colors .col div {
	border-right: 1px solid #455a64 !important;
}
