

/*----------------------------------------
  Chat
------------------------------------------*/
.chat-area{
  margin: 0px;
}
.chat-area li{
  display: block;
  position: relative;
  margin: 0 0 50px 0;
}
.chat-area li.leftside{
  padding-left: 40px;
}
.chat-area .leftside .msg-area{
    border-radius: 2px;
    background: rgba(var(--primary-rgb),0.07);
    min-height: 60px;
    padding: 15px;
    border-radius: 10px 10px 10px 0px;
    /* color: #ffffff; */
}

.chat-area li.rightside{
  padding-right: 40px;
}
.chat-area .rightside .msg-area{
    border-radius: 2px;
    background: rgba(var(--primary-rgb),1);
    min-height: 60px;
    padding: 15px;
    border-radius: 10px 10px 0 10px;
    color: #ffffff;
}

.chat-area .leftside.user1 .msg-area{
  background: rgba(var(--primary-rgb),0.07);
}
.chat-area .leftside.user2 .msg-area{
  background: rgba(var(--accent-rgb),0.07);
}
.chat-area .leftside.user3 .msg-area{
  background: rgba(var(--accent-rgb),0.07);
}


.chat-area li.rightside .userpic{
  left: auto;
  right: 0px;
}
.chat-area .userpic{
    position: absolute;
    background: #ccc;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 0px;
    margin-top: 0px;
    bottom: 0;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1), 0 3px 11px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1), 0 3px 11px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.chat-area .msg{
  margin: 0px;
}
.chat-area .time{
  font-size: 80%;
  margin-top: 5px;
  opacity: 0.8;
}
.chat-area .leftside .time{
  float: left;
}
.chat-area .rightside .time{
  right: 0px;
  left: auto;
  float: right;
}
.chat-area .ui-mediabox{
  margin: 15px -0.75rem 0px -0.75rem;
}
.chat-area .ui-mediabox .col{
  margin-bottom: 5px;
  border-radius: 10px;
}
.chat-area .ui-mediabox .img-wrap:after,
.chat-area .ui-mediabox .img-wrap img{
  border-radius: 10px;
}

/*----------------------------------------
  Site - Dark Mode - Chat
----------------------------------------*/
[data-site_mode="dark"] .chat-area .msg-area{
  /* background-color: #37474F; */
}

[data-site_mode="dark"] .setting-box {
  background-color: #37474F;
}
[data-site_mode="dark"] .setting-box {
  background-color: #37474F;
}
[data-site_mode="dark"] .setting-box h6 {
    color: #CFD8DC;
}
