
/*----------------------------------------
  Clients
----------------------------------------*/
.clients-row{
  margin: 0 -15px;
}
.client-box{
  background-color: #ffffff;
  /* box-shadow: 2px 2px 2px rgba(0,0,0,.1); */
  border-radius: 2px;
  padding: 0px 0 15px 0;
  margin-bottom: 24px;
  text-align: center;
  min-height: 90px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
}
.client-box img{
  width: auto;
  margin: auto;
  opacity: 0.75;
  vertical-align: middle;
  /* max-width: 120px; */
}
.client-box a{
  border-radius: 10px 10px 0 0;
  display: inline-block;
  width: 100%;
}

.client-box .logo-wrap{
  height: 200px;
  line-height: 200px;
  background: var(--primary-color);
}

/*----------------------------------------
  Site - Dark Mode - Client
----------------------------------------*/
[data-site_mode="dark"] .client-box {
    background-color: #37474f;
}