
/*----------------------------------------
  Contact us page
----------------------------------------*/
.map-wrap{
  position: relative;
}
.map-wrap img{
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.map-wrap i{
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--primary-color);
  z-index: 2;
  font-size: 70px;
  line-height: 70px;
  margin: -35px 0 0 -35px;
  text-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.map-wrap i:after{
  content: " ";
  display: block;
  height: 35px;
  width: 70px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 50%;
  margin-top: -25px;
}
.contactus.card{
  padding: 0px 15px 5px 15px;
}