/*----------------------------------------
  Events
------------------------------------------*/
.events{
	margin-top: 0px;
}
.events .event-item {
	background-color: #ffffff;
	position: relative;
	margin: 0 0 15px 0;
	border-radius: 10px;
}
.events .event-item .info{
	position: relative;
	padding: 25px 15px 25px 15px;
}
.events .event-item .image{
	border-radius: 10px 10px 0 0;
	vertical-align: top;
}
.events .title {
	font-weight: bold;
	font-size: 18px;
	/* text-transform: uppercase; */
}
.events .time {
	margin: 10px 0;
	font-size: 90%;
}
.events .actions {
	position: absolute;
	right: 15px;
	top: 95px;
}
.events .actions a i {
	color: #455a64;
	font-size: 20px;
	margin: 0 0 0 10px;
}
.events .people a img {
	width: 50px;
	height: 50px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .1);
	margin-top: 10px;
}
.events .people a {
	margin: 0 -10px 0 0;
}
.events .badge {
	position: absolute;
	top: 25px;
	right: 15px;
}
.event-item .view-btn{
	margin-right: 10px;
}
.events .actions a{
	text-align: center;
	margin-left: 5px;
}

.events .actions a i{
	margin-left: 0px;
	font-size: 18px;
	background: var(--primary-color);
	border-radius: 50%;
	height: 32px;
	width: 32px;
	color: #ffffff;
	line-height: 32px;
	display: inline-block;
}


/*----------------------------------------
  Site - Dark Mode - Events
----------------------------------------*/
[data-site_mode="dark"] .events .event-item {
	background-color: #37474f;
}
[data-site_mode="dark"] .events .actions a i {
	color: #f5f5f5;
}
