/*----------------------------------------
  Form Elements
------------------------------------------*/

.input-field .prefix {
	top: 0.6rem;
}
.input-field .prefix.active {
	color: var(--primary-color);
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
	color: var(--primary-color);
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid var(--primary-color);
	-webkit-box-shadow: 0 1px 0 0 var(--primary-color);
	box-shadow: 0 1px 0 0 var(--primary-color);

	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
	font-size: 22px;
}
.input-field .prefix {
	font-size: 20px;
	top: 12px;
	width: 2.5rem;
	left: 12px;
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
	margin-left: 2.5rem;
	width: 92%;
	width: calc(100% - 2.5rem);
}
.file-field .btn,
.file-field .btn-large,
.file-field .btn-small {
	height: 2rem;
	line-height: 2rem;
	margin: 2px 15px;
}
.file-field span {
	font-size: 14px;
}
/*Input field custom styling */
.input-field.col,
.input-field {
	background-color: #ffffff;
	margin-bottom: 0px;
	border-radius: 8px;
	padding: 8px 0 0 0;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
.input-field {
	/* margin-top: 24px; */
}
.input-field input,
.input-field.col input {
	margin-bottom: 0px !important;
	border-bottom: none !important;
	padding: 0 15px 2px 15px;
	box-sizing: border-box;
	font-size: 15px;
	max-width: 96%;
	margin-left: 2%;
}

.input-field .prefix ~ input,
.input-field.col .prefix ~ input {
	padding-bottom: 6px;
	margin-left: 0;
	width: 100%;
	padding-left: 50px;
	max-width: 96%;
	margin-left: 2%;
	margin-bottom: 1px;
}

.input-field > label:not(.label-icon).active {
	-webkit-transform: translateY(-12px) scale(0.85);
	transform: translateY(-12px) scale(0.85);
	width: auto !important;
	background: #f5f5f5;
	color: #444444;
	padding: 2px 7px;
	border-radius: 8px;
	/* left: 0px; */
	/* max-width: none; */
	line-height: 20px;
	min-width: none;
}

.input-field .helper-text:after,
.input-field .helper-text {
	padding: 5px 10px 0px 10px;
	position: absolute;
	width: 100%;
}

.input-field.has-helper {
	margin-bottom: 30px;
}

.input-field textarea,
.input-field.col textarea {
	margin-bottom: 0px !important;
	border-bottom: none !important;
	box-sizing: border-box;
	vertical-align: top;
	margin: 0px;
	padding: 0.8rem 15px;
	font-size: 15px;
	max-width: 96%;
	margin-left: 2%;
}

.input-field .prefix ~ textarea,
.input-field.col .prefix ~ textarea {
	margin-left: 0 !important;
	padding-left: 50px;
	width: 100%;
	padding-top: 6px;
	line-height: 1.6;
	/* width: calc(100% - 2.5rem); */
}
.input-field.file-field input.file-path {
	padding: 0 0 9px 0;
}

.character-counter {
	min-height: 18px;
	position: absolute;
	right: 10px;
	top: -15px;
	background: #f5f5f5;
	padding: 0px 5px;
	opacity: 0.7;
	font-size: 11px !important;
	font-family: Raleway;
}
nav.ui-forms{
	background: transparent;
	border-radius: 10px;
}
.nav-wrapper .input-field {
	padding-top: 0px;
}
.nav-wrapper .input-field > label:not(.label-icon).active {
	background: transparent;
	top: 15px;
	left: 5px;
}
.nav-wrapper .input-field label.active i {
	color: #444;
}
.input-field input[type=search]:focus:not(.browser-default){
	border-radius: 10px;
}
textarea.materialize-textarea{
	min-height: 200px;
}

/*----------------------------------------
  Checkboxes
------------------------------------------*/
[type="checkbox"]:checked + span:not(.lever):before {
	border-right: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
	border: 2px solid var(--primary-color);
	background-color: var(--primary-color);
}
[type="checkbox"]:checked:disabled + span:before {
	border-right: 2px solid rgba(0, 0, 0, 0.32);
	border-bottom: 2px solid rgba(0, 0, 0, 0.32);
}
[type="checkbox"].danger:not(.filled-in):checked + span:not(.lever):before {
	border-right: 2px solid rgba(229, 115, 115, 1);
	border-bottom: 2px solid rgba(229, 115, 115, 1);
}
[type="checkbox"].warning:not(.filled-in):checked + span:not(.lever):before {
	border-right: 2px solid rgba(255, 138, 101, 1);
	border-bottom: 2px solid rgba(255, 138, 101, 1);
}
[type="checkbox"].success:not(.filled-in):checked + span:not(.lever):before {
	border-right: 2px solid rgba(129, 199, 132, 1);
	border-bottom: 2px solid rgba(129, 199, 132, 1);
}
[type="checkbox"].info:not(.filled-in):checked + span:not(.lever):before {
	border-right: 2px solid rgba(0, 151, 167, 1);
	border-bottom: 2px solid rgba(0, 151, 167, 1);
}
[type="checkbox"].filled-in.danger:checked + span:not(.lever):after {
	border: 2px solid rgba(229, 115, 115, 1);
	background-color: rgba(229, 115, 115, 1);
}
[type="checkbox"].filled-in.warning:checked + span:not(.lever):after {
	border: 2px solid rgba(255, 138, 101, 1);
	background-color: rgba(255, 138, 101, 1);
}
[type="checkbox"].filled-in.success:checked + span:not(.lever):after {
	border: 2px solid rgba(129, 199, 132, 1);
	background-color: rgba(129, 199, 132, 1);
}
[type="checkbox"].filled-in.info:checked + span:not(.lever):after {
	border: 2px solid rgba(0, 151, 167, 1);
	background-color: rgba(0, 151, 167, 1);
}
/*----------------------------------------
  Select
------------------------------------------*/
.select-dropdown li img {
	margin: 7px 15px;
}
.select-wrapper + label {
	background: #f5f5f5;
	padding: 0px 7px;
}
.input-field.inline .select-wrapper + label,
.input-field.has-helper .select-wrapper + label {
	left: 0.75rem;
}
.input-field.inline .select-wrapper input,
.input-field.has-helper .select-wrapper input.select-dropdown {
	padding-left: 15px;
}
.select-wrapper .caret {
	right: 5px;
	top: -8px;
	opacity: 0.5;
}
.input-field.sel-wrap{
	margin-bottom: 24px;
}
.input-field.sel-wrap.has-helper{
	margin-bottom: 40px;
}


/*----------------------------------------
  Radio Buttons
------------------------------------------*/
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
	background-color: var(--primary-color);
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
	border: 2px solid var(--primary-color);
}
[type="radio"]:checked.danger + span:after,
[type="radio"].with-gap:checked.danger + span:after {
	background-color: rgba(229, 115, 115, 1);
}
[type="radio"]:checked.danger + span:after,
[type="radio"].with-gap:checked.danger + span:before,
[type="radio"].with-gap:checked.danger + span:after {
	border: 2px solid rgba(229, 115, 115, 1);
}

[type="radio"]:checked.info + span:after,
[type="radio"].with-gap:checked.info + span:after {
	background-color: rgba(0, 151, 167, 1);
}
[type="radio"]:checked.info + span:after,
[type="radio"].with-gap:checked.info + span:before,
[type="radio"].with-gap:checked.info + span:after {
	border: 2px solid rgba(0, 151, 167, 1);
}

[type="radio"]:checked.warning + span:after,
[type="radio"].with-gap:checked.warning + span:after {
	background-color: rgba(255, 138, 101, 1);
}
[type="radio"]:checked.warning + span:after,
[type="radio"].with-gap:checked.warning + span:before,
[type="radio"].with-gap:checked.warning + span:after {
	border: 2px solid rgba(255, 138, 101, 1);
}

[type="radio"]:checked.success + span:after,
[type="radio"].with-gap:checked.success + span:after {
	background-color: rgba(129, 199, 132, 1);
}
[type="radio"]:checked.success + span:after,
[type="radio"].with-gap:checked.success + span:before,
[type="radio"].with-gap:checked.success + span:after {
	border: 2px solid rgba(129, 199, 132, 1);
}

/*----------------------------------------
  Site - Dark Mode - Forms
----------------------------------------*/
[data-site_mode="dark"] input,
[data-site_mode="dark"] textarea {
	color: #f5f5f5;
}
[data-site_mode="dark"] .input-field i.prefix {
	color: #cfd8dc;
}

/*----------------------------------------
  Site - Dark Mode - Checkbox & Radio
----------------------------------------*/
[data-site_mode="dark"] label {
	color: #cfd8dc;
}
[data-site_mode="dark"] [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after,
[data-site_mode="dark"] [type="checkbox"] + span:not(.lever):before {
	border-color: #b0bec5;
}
[data-site_mode="dark"] [type="checkbox"]:checked + span:not(.lever):before {
	border-right: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	border-left-color: transparent;
	border-top-color: transparent;
}
[data-site_mode="dark"] [type="checkbox"].filled-in:not(.colored):checked + span:not(.lever):after {
	background-color: var(--primary-color);
}
[data-site_mode="dark"] [type="checkbox"].filled-in:checked + span:not(.lever):before {
	border-right: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	border-left-color: transparent;
	border-top-color: transparent;
}
[data-site_mode="dark"] label input[disabled="disabled"] + span {
	color: #78909c;
}
[data-site_mode="dark"] [type="radio"]:not(:checked) + span:before,
[data-site_mode="dark"] [type="radio"]:not(:checked) + span:after {
	border-color: #b0bec5;
}
[data-site_mode="dark"] [type="radio"]:disabled:checked + span:after {
	background-color: #78909c;
	border-color: #78909c;
}
[data-site_mode="dark"] [type="radio"]:disabled:not(:checked) + span:before,
[data-site_mode="dark"] [type="radio"]:disabled:not(:checked) + span:after {
	border-color: #78909c;
	background-color: transparent;
}
/*----------------------------------------
  Site - Dark Mode - Range & Select
----------------------------------------*/
[data-site_mode="dark"] .noUi-target {
	background-color: #78909c;
}
[data-site_mode="dark"] .select-wrapper .caret {
	fill: #f5f5f5;
}
[data-site_mode="dark"] .select-dropdown li.optgroup {
	border-top: 1px solid #455a64;
}
[data-site_mode="dark"] .input-field .helper-text {
	color: #b0bec5;
}
[data-site_mode="dark"] .select-wrapper.disabled + label {
	color: #90a4ae;
}
[data-site_mode="dark"] .select-wrapper input.select-dropdown:disabled {
	color: #90a4ae;
}
[data-site_mode="dark"] input[type=text]:disabled {
	border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
/*----------------------------------------
  Site - Dark Mode - Inputs
----------------------------------------*/
[data-site_mode="dark"] .input-field input[type=search]:focus:not(.browser-default) {
	background-color: #455a64;
	color: #f5f5f5;
}
[data-site_mode="dark"] .input-field input[type=search]:focus:not(.browser-default) + label i,
[data-site_mode="dark"] .input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
[data-site_mode="dark"] .input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
	color: #f5f5f5;
}
[data-site_mode="dark"] input[type=text]:not(.browser-default):disabled + label {
	color: #b0bec5;
}
[data-site_mode="dark"] input[type=text]:not(.browser-default):disabled {
	color: #b0bec5;
}


[data-site_mode="dark"] .input-field.col, [data-site_mode="dark"] .input-field{
	background-color: #37474F;
}
[data-site_mode="dark"] .input-field > label:not(.label-icon).active {
	background: #27474F;
	color: #cccccc;
}
.nav-wrapper .input-field > label:not(.label-icon).active{
	background-color: transparent !important;
}
[data-site_mode="dark"] .select-wrapper + label,
[data-site_mode="dark"] .character-counter {
	background: #27474F;
}
.character-counter:empty {
	display: none;
}