
/*----------------------------------------
  Navigation Menu - Dark Style
------------------------------------------*/
[data-menu="dark"] .sidenav{
  background-color: #37474F;
}
[data-menu="dark"] .sidenav .subheader{
  color: #B0BEC5;
}
[data-menu="dark"] .sidenav li a, [data-menu="dark"] .sidenav li a:hover{
  color: #CFD8DC;
}
[data-menu="dark"] .sidenav li.lvl1 .waves-effect:hover, [data-menu="dark"] .sidenav li.lvl1 .waves-effect.active{
  background-color: #263238; 
}
[data-menu="dark"] .sidenav .badge.blue-grey{
  background-color: var(--primary-color) !important; 
}
[data-menu="dark"] .sidenav .divider{
  background-color: #455A64; 
}
[data-menu="dark"] .sidenav .copyright{
  color: #B0BEC5;
}