/*----------------------------------------
  Navigation Menu
------------------------------------------*/
nav {
	background: var(--primary-color);
	z-index: 999;
}

.sidenav li {
	line-height: 48px;
}
.sidenav .collapsible li{
	box-shadow: none;
}
.sidenav .waves-effect {
	display: block;
}
.sidenav li a {
	display: block;
	color: #546e7a;
}
.sidenav li a:hover,
.sidenav li a:hover i {
	color: #455a64;
}
.sidenav li a span {
	line-height: 48px;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	/* text-transform: uppercase; */
}
.sidenav:not(.sidesettings) li a i,
.sidenav:not(.sidesettings) li:hover a i {
	color: #ffffff;
	background: var(--primary-color);
}
.sidenav li a i {
	margin-right: 8px;
	top: 2px;
	position: relative;
	font-size: 18px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
}
.sidenav.sidesettings li a i {
	margin-right: 0px;
}
.sidenav.sidemenu li.lvl1 a:after {
	content: "\F142";
	display: inline-block;
	font: normal normal normal 24px/1 "Material Design Icons";
	font-size: inherit;
	text-rendering: auto;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 15px;
	font-size: 16px;
	opacity: 0.7;
	top: 11px;
}
.sidenav li.lvl1 .waves-effect {
	padding-left: 20px;
}
.sidenav li.lvl1 .waves-effect:hover,
.sidenav li.lvl1 .waves-effect.active {
	background: #f5f5f5;
}
.sidenav span.badge {
	line-height: 24px;
	color: #fff;
	font-size: 10px;
	margin-right: 40px;
}
.sidenav .copyright,
.sidenav .subheader {
	padding-left: 20px;
}
nav .sidenav-trigger {
	margin-left: 0px;
}
.sidenav .subheader {
	/* text-transform: uppercase; */
	font-size: 12px;
	color: #90a4ae;
	font-weight: 400;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 5px;
}
.sidenav .divider {
	background: #f5f5f5;
	margin: 0px;
	clear: both;
}
.sidenav .copyright {
	font-size: 13px;
	color: #90a4ae;
	/* text-transform: uppercase; */
}

/*----------------------------------------
  Navigation User Menu
------------------------------------------*/
nav .brand-logo,
nav .navicon {
	color: #455a64;
}
body nav a.brand-logo i {
	font-size: 24px;
	margin-right: 6px !important;
}
.sidenav .user-view {
	margin: 0px 0 15px 0;
	height: 180px;
	background: #eee;
	background-image: url('../images/menu-user-full.jpg');
	background-size: cover;
	background-position: center;
}
.user-wrap,
.user-wrap .user-view{
	position: relative;
}
.user-wrap .user-view::before{
	content: " ";
	background-color: #222222;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
	width: 100%;
	opacity: 0.3;
}
.sidenav .user-view .imgarea {
	padding: 0px;
}
.sidenav .user-view .infoarea {
	padding-top: 5px;
	padding-left: 9px;
	position: absolute;
	bottom: 20px;
	z-index: 3;
}
.sidenav .user-view .circle {
	width: 60px;
	height: 60px;
}
.sidenav .user-view .name {
	margin-top: 0px;
	font-size: 22px;
	margin-bottom: 10px;
	/* text-transform: uppercase; */
	color: #ffffff;
}
.sidenav .user-view .email {
	padding-bottom: 0px;
	color: #eeeeee;
	font-size: 16px;
}
/* [data-menu="dark"] .sidenav .user-view .name {
	color: #cfd8dc;
}
[data-menu="dark"] .sidenav .user-view .email {
	color: #b0bec5;
}

[data-menu="colored"] .sidenav .user-view .name {
	color: #f5f5f5;
}
[data-menu="colored"] .sidenav .user-view .email {
	color: #eeeeee;
} */
