/*----------------------------------------
  Site - Dark Mode
----------------------------------------*/
body[data-site_mode="dark"]  {
    color: #f5f5f5;
    background-color: #263238;
}
body[data-site_mode="dark"] .preloader-background{
  background-color: #263238;
}
[data-menu="dark"] .ui-mediabox .divider,
[data-site_mode="dark"] .container .divider {
    background-color: #455A64;
}
[data-site_mode="dark"] .subpages .collection-item a{
  color: #CFD8DC;
}
[data-site_mode="dark"] .collection.subpages .collection-item {
    border-bottom: 1px solid #37474F;
    background-color: transparent;
}
[data-site_mode="dark"] .collection.subpages .collection-item:hover {
    background: transparent;
}
[data-site_mode="dark"] .collection.subpages{
  border: 0px solid #455A64;
}
