
/*----------------------------------------
  UI - buttons
------------------------------------------*/

.ui-buttons .btn, .ui-buttons .btn-large, .ui-buttons .btn-small{
  margin: 10px 10px 0 0;
}
.ui-buttons .btn-floating{
  margin: 10px 30px 0 0;
}

/*----------------------------------------
  UI - badges & Waves
------------------------------------------*/
.ui-badges .badge{
  margin: 10px 10px 0 0;
  float: left;
}

.ui-wavesgrid img{
  vertical-align: top;
}
.ui-wavesgrid .col{
  margin-bottom: 15px;
}

/*----------------------------------------
  UI - Colors
------------------------------------------*/
.ui-colors{
  padding: 0 .75rem;
}
.ui-colors .col{
  margin: 0px 0 0px 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0 20px 0;
}
.ui-colors .col .col{
  border: none;
  border-radius: 20px;
  margin: 5px;
  min-height: 30px;
  min-width: 80px;
}
.ui-colors .col div{
  margin: 1px 0px 0 0;
  padding: 12px 20px;
  border-right: 1px solid #f5f5f5 !important;
}

/*----------------------------------------
  UI - Toasts
------------------------------------------*/
.ui-toasts .btn{
  margin: 10px 10px 0 0;
}

/*----------------------------------------
  UI - Modal
------------------------------------------*/
.ui-modal .btn{
  margin: 10px 10px 0 0;    
}

/*----------------------------------------
  UI - Grid
------------------------------------------*/
.ui-grid .col{
    border-right: 2px solid rgba(255, 255, 255, 0.9);
    padding: 5px 5px;
    text-align: center;
    margin-bottom: 5px;
    background: var(--primary-color);
    color: #fff;
    box-shadow: none;
    border-radius: 10px;
}
.ui-grid .col span{
    font-size: 14px;
}

.ui-grid .col:nth-child(odd){
    background: var(--primary-color);
}

.ui-grid .col span{
  display: block;
  padding: 7px 0;
}

.ui-grid.ui-grid-large .col{
  min-height: 100px;
  height: 100px;
  position: relative;
}

.ui-grid-large .col span{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  font-size: 120%;
}

/*----------------------------------------
  UI - Icons
------------------------------------------*/
.ui-icons.sizes i{
  line-height: 50px;
}
.ui-icons .iprev {
    height: 150px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.ui-icons .iprev div{
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,0.14), 0 3px 11px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.14), 0 3px 11px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    height: 100%;
    padding: 20px .75rem;
    border-radius: 10px;
}
.ui-icons .iprev i {
  font-size: 36px;
  margin-bottom: 15px;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
}
.ui-icons .iprev span {
    display: block;
    font-size: 14px;
    line-height: 23px;
    word-wrap: break-word;
}
.ui-icons .iprev code{
  display: none;
}

/*----------------------------------------
  Form Select
------------------------------------------*/
.ui-select .input-field{
  margin-bottom: 30px;
}
nav.ui-forms label{
  top: -11px;
  left: 11px;
}
nav.ui-forms label.active{
  top: 20px;
}
nav.ui-forms label i{
  margin-left: 10px;
}

/*----------------------------------------
  Dropdowns
------------------------------------------*/
.ui-dropdowns .btn{
  margin: 15px 15px 0 0;
}
.dropdown-trigger.btn-large{
  line-height: 36px;
}
.dropdown-trigger.btn{
  line-height: 30px;
}

/*----------------------------------------
  Mediabox
------------------------------------------*/

.ui-mediabox .col{
  margin-bottom: 24px;
}

/*----------------------------------------
  Feature Discovery
------------------------------------------*/
.tap-target{
  background-color: var(--primary-color);
}
.tap-wrap{
  margin-left: 25px;
}

/*----------------------------------------
  Faq
------------------------------------------*/
.ui-faq .collapsible-header{
  line-height: 25px;
}

/*----------------------------------------
  Site - Dark Mode - UI Icons
----------------------------------------*/
[data-site_mode="dark"] .ui-icons .iprev div{
    background-color: #455A64;
}
[data-site_mode="dark"] .ui-grid .col{
  border-right: 2px solid #263238;
}