/*----------------------------------------
  Form Range Sliders
------------------------------------------*/

  input[type=range]::-webkit-slider-thumb {
    background-color: var(--primary-color);
  }
  input[type=range]::-moz-range-thumb {
    background-color: var(--primary-color);
  }
  input[type=range]::-ms-thumb {
    background-color: var(--primary-color);
  }
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: var(--primary-color);
  }

  body .noUi-tooltip span{
    top: 1px;
    left: -1px;
  }
  body .noUi-horizontal .noUi-handle, body .noUi-vertical .noUi-handle,
  body .noUi-connect,
  body .noUi-target.noUi-horizontal .noUi-tooltip{
      background-color: var(--primary-color) ;
  }
  body .noUi-horizontal.danger .noUi-handle, body .noUi-vertical.danger .noUi-handle,
  body .danger .noUi-connect,
  body .noUi-target.danger .noUi-tooltip{
      background-color: rgba(229, 115, 115, 1) ;
  }

  body .noUi-horizontal.warning .noUi-handle, body .noUi-vertical.warning .noUi-handle,
  body .warning .noUi-connect,
  body .noUi-target.warning .noUi-tooltip{
      background-color: rgba(255, 138, 101, 1) ;
  }

  body .noUi-horizontal.info .noUi-handle, body .noUi-vertical.info .noUi-handle,
  body .info .noUi-connect,
  body .noUi-target.info .noUi-tooltip{
      background-color: rgba(0, 151, 167, 1) ;
  }

  body .noUi-horizontal.success .noUi-handle, body .noUi-vertical.success .noUi-handle,
  body .success .noUi-connect,
  body .noUi-target.success .noUi-tooltip{
      background-color: rgba(129, 199, 132, 1) ;
  }

  body .noUi-horizontal.hexblue .noUi-handle, body .noUi-vertical.hexblue .noUi-handle,
  body .hexblue .noUi-connect,
  body .noUi-target.hexblue .noUi-tooltip{
      background-color: rgba(92, 107, 192, 1) ;
  }
  .noUi-target .noUi-tooltip{
    overflow: hidden;
  }
