/*----------------------------------------
  Image Filter Overlay
----------------------------------------*/

.carousel-item:after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
}
.walk_carousel .carousel-item:after,
.about_carousel .carousel-item:after{
  background-color: rgba(var(--primary-filter),.25);
}
.carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}
.home_carousel .carousel-item:after{
  background-color: rgba(var(--primary-filter),.20);
}
.carousel-products-home .carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}
.carousel-events-home .carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}
.carousel-university-home .carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}
.carousel-dashboard-home .carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}


.profile-carousel .carousel-item:after{
  background-color: rgba(var(--primary-filter),.15);
}
.fullscreencarousel .carousel-item:after{
  background-color: rgba(var(--primary-filter),.30);
}
.carousel-content .carousel-item:after,
.carousel-fullwidth .carousel-item:after,
.carousel-small .carousel-item:after{
  background-color: rgba(var(--primary-filter),.10);
}
.primg:after{
  background-color: rgba(var(--primary-filter),.10);
}
.circle.responsive-img{
  vertical-align: top;
}
.img-wrap{
  position: relative;  
  display: inline-block;
    vertical-align: top;
  width: 100%;
  /* height: 100%; */
}
.img-wrap:after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
  background-color: rgba(var(--primary-filter),.10);
}
.img-wrap.circle:after{
  border-radius: 50%;
}
.img-wrap img{
  vertical-align: top;
}
.card-image .img-wrap img{
  z-index: 1;
}
.card-image .img-wrap:after{
  z-index: 2;
}
.card-image .card-title{
  z-index: 3;
}
.card-image:after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
  background-color: rgba(var(--primary-filter),.10);
  z-index: 2;
  border-radius: 10px;
}
.slider1 .slides .img-wrap:after,
.slider2 .slides .img-wrap:after,
.slider3 .slides .img-wrap:after,
.slider4 .slides .img-wrap:after{
  background-color: rgba(var(--primary-filter),.20);
}
.parallax.img-wrap:after{
  background-color: rgba(var(--primary-filter),.20);
}
.tabs-swipable .carousel-item:after{
  content: none;
}
.login-bg:after{
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0px;
  left: 0px;
  background-color: rgba(var(--primary-filter),.30);
  z-index: 2;
}
.img-wrap.round:after,
.img-wrap.round,
.img-wrap.round img{
  border-radius: 10px;
}

.img-wrap.round-top:after,
.img-wrap.round-top,
.img-wrap.round-top img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.img-wrap.round-bottom:after,
.img-wrap.round-bottom,
.img-wrap.round-bottom img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}