/*----------------------------------------
  Modal
------------------------------------------*/
.modal{
	border-radius: 10px;
}
.modal-content {
	border-bottom: 1px solid rgba(220, 220, 220, 0.4);
}
.modal.dark-text .modal-content,
.modal.dark-text .modal-content a {
	color: #546e7a;
}
.modal-footer.dark-text,
.modal-footer.dark-text a {
	color: #546e7a;
}
.modal-footer.white-text a {
	color: #fafafa;
}

.modal-mediabox .modal-content {
	padding: 0px;
	border-bottom: 0px;
	height: auto;
}
.modal-mediabox .modal-footer {
	text-align: left;
	height: auto;
	padding: 0 15px;
}

.modal-mediabox .modal-content p {
	margin: 0;
}

.modal.bottom-sheet{
	max-height: 75%;
}

.modal.full{
	height: 100% !important;
	max-height: 100% !important;
	width: 100%;
	border-radius: 0px;
	top: 0 !important;
}

/*----------------------------------------
  Site - Dark Mode - Modal
----------------------------------------*/
[data-site_mode="dark"] .modal .modal-footer,
[data-site_mode="dark"] .modal {
	background-color: #455A64;
}
[data-site_mode="dark"] .modal-content {
	border-bottom: 1px solid rgba(33, 33, 33, .2);
}
