/*----------------------------------------
  Notifications
----------------------------------------*/
.collection.notifications .collection-item.avatar :not(.circle-clipper)>.circle{
  left: 20px;
}
.collection.notifications .collection-item{
  padding: 0px 0px;
}
.collection.notifications .from{
  font-size: 90%;
  display: block;
}
.collection.notifications .title{
  text-transform: none;
}
.collection.notifications .collection-item.avatar img{
  position: absolute;
  top: 20px;
  margin-top: 0px;
}
.collection.notifications .collection-item .notify{
  color: #455A64;
  padding: 15px 20px 15px 75px;
  display: inline-block;
  width: 100%;
}

.collection.notifications .collection-item.avatar .secondary-content{
  position: absolute;
  top: 40px;
  margin-top: 0px;
  right: 15px;
}
.collection.notifications .time{
  position: absolute;
  top: 0%;
  margin-top: 15px;
  right: 20px;
  font-size: 80%;
  opacity: 0.8;
}
.collection.notifications .mail-reply{
  position: relative;
  padding: 20px;
  vertical-align: top;
  margin-bottom: 0px;
}
.collection.notifications .mail-reply label{
  left: 20px;
}
.collection.notifications .collection-item.avatar p{
  padding-right: 47px;
  margin-bottom: 7px;
}
.collection.notifications .badge{
  float: left;
  margin: 5px 5px 5px 0;
}

