/*----------------------------------------
  Pricing Tables
----------------------------------------*/
.pricing-tabs {
  margin-bottom: 30px;
}
.pricing-tabs h2 {
  padding: 60px 0 40px 0;
  background-color: #ccc;
  margin: 0px;
  color: #ffffff;
  width: 90%;
  margin: 15px 5% 0 5%;
  border-radius: 10px;
}
.pricing-tabs h2.bg-primary {
  background-color: var(--primary-color);
}
.pricing-tabs h2 sup {
  font-size: 27px;
  position: relative;
  top: -20px;
}
.pricing-tabs h2 span {
  font-size: 65px;
  margin: 0 0 0 5px;
}
.price-row {
  padding-top: 0px;
  margin-bottom: 20px;
}
.price-row .item {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: 500;
  margin: 5px 0;
  display: inline-block;
  width: 100%;
}
.pricing-tabs .carousel.carousel-slider .carousel-item {
  height: 100%;
  padding: 0px !important;
}
.price-row .item .title {
  margin-bottom: 0px;
}
.price-row .item .tag {
  opacity: 0.8;
  font-size: 90%;
}
.pricing-tabs .btn-large {
  width: 90%;
}
.pricing-tabs .tabs-swipable .tabs-content {
  height: 650px;
  min-height: 650px;
}

/*----------------------------------------
  Site - Dark Mode - Pricing Tables
----------------------------------------*/
[data-site_mode='dark'] .price-row div {
  border-color: #455a64;
}
