/*----------------------------------------
 Tabs
------------------------------------------*/
.tabs .tab a {
	color: #455a64;
	line-height: 48px;
	text-transform: none;
	font-weight: 600;
}
.tabs .tab a.active {
	color: var(--primary-color);
}
.tabs .tab a:hover,
.tabs .tab a.active{
	color: var(--primary-color);
	background: rgba(0, 0, 0, 0.08);
}
.tabs.transparent .tab a.active{
	background: transparent;
}
.tabs .indicator {
	background-color: var(--primary-color);
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
	background-color: rgba(0, 0, 0, 0.08);
}
.tab-content {
	display: inline-block;
	padding: 15px;
	background: #fff;
	width: 100%;
}
.tabs-icons .tab i {
	font-size: 24px;
	line-height: 48px;
}
.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
	color: rgba(var(--primary-rgb), 0.4);
	cursor: default;
}
.tabs-swipable .carousel-item {
	display: inline-block;
	padding: 15px !important;
	width: 100%;
	font-size: inherit;
	line-height: inherit;
}
.tabs.full-transparent {
	border-bottom: 1px solid #cccccc;
}
.tabs.colored .tab a:focus,
.tabs .tab.colored a:focus.active {
	background-color: inherit;
}
.tabs.accent-bg .indicator {
	background-color: var(--accent-color);
}

.tabs-swipable .tabs-content {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.tabs-swipable-ul {
	z-index: 1;
}
.tabs-swipable .tabs-content {
	min-height: 600px;
}


.tabs.primary-bg .indicator:after,
.tabs.accent-bg .indicator:after {
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(33, 33, 33, .2);
	display: block;
}

.tabs{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tabs-swipable .tabs-content,
.tab-content{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.tabs-swipable .tabs-content .carousel-item{
	box-shadow: none;
	background: #ffffff;
}

.tabs-swipable-ul.fullscreen{
	
}


/*----------------------------------------
  Site - Dark Mode - Tabs
----------------------------------------*/
[data-site_mode="dark"] .tabs {
	background-color: #37474f;
}
[data-site_mode="dark"] .tabs.primary-bg {
	background-color: var(--primary-color);
}
[data-site_mode="dark"] .tabs.accent-bg {
	background-color: var(--accent-color);
}
[data-site_mode="dark"] .card-tabs {
	border-bottom: 1px solid #455a64;
}
[data-site_mode="dark"] .tabs .tab a {
	color: #f5f5f5;
}
[data-site_mode="dark"] .tabs .tab a:focus,
[data-site_mode="dark"] .tabs .tab a:focus.active {
	background-color: rgba(33, 33, 33, .6);
}

[data-site_mode="dark"] .tab-content {
	background-color: #37474f;
}
[data-site_mode="dark"] .tabs.full-transparent {
	border-bottom: 1px solid #455a64;
}

[data-site_mode="dark"] .tabs-swipable .tabs-content .carousel-item{
	background-color: #37474f;
}